  body {
  font-size: 14px;
}

.logo {
  margin-top: 15px;
}

.background {
  background-size: cover;
  width: 100%;
  height: 300px;
  display: block;
  background-position: center center;
}

.contents {
  margin: 30px 0px;
}

.carousel-indicators > li {
  background-color: #FFFFFF;
}

.carousel-indicators > .active {
  background-color: #99BB22;
}

.form-control{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 6px 12px;
}

.text-small{
  font-size: 14px;
}

h2 {
  color: #664433;
  border-bottom: solid 2px #D3C9C5;
  padding-bottom: 5px;
  padding-left: 21px;
  margin-bottom: 15px;
  font-size: 18px;
  background-image: url("img/icon.png");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  line-height: 1.0;
}

h3 {
  font-size: 16px;
  color: #664433;
}

p {
  text-indent: 1em;
  margin-top: 5px;
  color: #333333;
}
.new_recipe p {
  text-indent: 0;
}
a {
  text-decoration: none;
  color: #333333;
}

.list-group-item {
  border: none;
  background-image: url("img/arrow.png");
  background-size: 6px 10px;
  background-repeat: no-repeat;
  padding-left: 15px;
  background-position: 5px center;
}

footer {
  border-top: solid 1px #CCCCCC;
}

@media (max-width: 767px) {
  .col-md-6 {
    margin-top: 15px;
  }

  .logo {
    width: 120px;
    height: auto;
    margin-top: 10px;
  }

  .top-toggler-icon {
    margin-top: -41px;
  }
  
  body {
    padding-top: 57px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
  .navbar-nav{
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float:none;
  }

  .navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
    margin-bottom: 7px;
    border-right: solid 1px #CCCCCC;
  }

  .navbar-nav > li:last-child > a {
    border-right: none;
  }
  
  body {
    padding-top: 141px;
  }

  article.contents:first-child {
    margin-top: 0;
  }
  .footer  li > a{
    border-right: solid 1px #CCCCCC;
  }
  
  .footer  li:last-child > a{
    border-right: none;
  }
  
  .footer ul {
    margin-top: 10px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }

  .contents {
    margin: 30px 15px;
  }

  a.list-group-item {
    border-top: dashed 1px #CCCCCC;
  }

  a.list-group-item:first-child {
    border: none;
  }
}
 
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }

  .background {
     height: 450px;
  }
}
